.container{
  width: 1110px;
  margin: 0 auto;
}
.header__container{
  display: flex;
  padding: 77px 0 0;
  align-items: center;
  justify-content: space-between;
}
.header-flex{
  display: flex;
  align-items: center;
}
.team__logo{
  width: 160px;
  height: 40px;
}
.header__container ul{
  display: flex;
}
.list{
  list-style-type: none;
  color: #fff;
  font-size: 18px;
}
.list li{
  margin-right: 40px;
}
.li1{
  padding-left:60px ;
}
.contact{
  border: 2px solid #FFFFFF;
  border-radius: 24px;
  padding: 10px 32px;
  background-color: #014E56;
  color: white;
  float: right;
}